@page "/Registro/Index"
@inject ComboService registroServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="container">
    <div class="card shadow-lg mt-3">
        <div class="card-header text-center">
            <h5>Registros</h5>
        </div>

        <div class="row">
            <div class="col-md-15">
                <div class="col-md-15 text-end">
                    <a href="#" class="btn btn-outline-success" type="button">
                        <span class="bi bi-pencil-square mt-3"></span>
                        Crear
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">

                <table class="table table-light table-bordered text-center">
                    <thead class="table table-striped ">
                        <tr>
                            <th>Id</th>
                            <th>Ver</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <p>Total:.Count</p>
            </div>
        </div>

    </div>
@* </div> *@

@code {
   
}